@import "tailwindcss";
@plugin "daisyui";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #4c3575;
  --main-dark: #2b184d;
  --active: #9f82d1;
}
.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card-main: #18181b;
  --card-secondary: #27272a;
  --dropdown-background: #1e293b;
  --dark-text-primary: #ffffff;
  --dark-text-secondary: #a1a1aa;
  --color-accent: #a855f7;
}
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-main-dark: var(--main-dark);
  --color-active: var(--active);
  --color-card-main: var(--card-main);
  --color-card-secondary: var(--card-secondary);
  --color-dropdown-background: var(--dropdown-background);
  --color-dark-primary: var(--dark-text-primary);
  --color-dark-secondary: var(--dark-text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}
